.partnership-quick-info{
  & h4{
    font-style: normal;
    font-weight: bold;
    font-size: 2.4vw;
    // font-size: 48px;
    line-height: 120%;
    color: #1F2421;
    @media only screen and(max-width:767px){
      font-size: 30px;
    }
  }
  & p{
    font-family: Overpass;
      font-style: normal;
      font-weight: normal;
      font-size: 1.2vw;
      // font-size: 20px;
      @media only screen and(max-width:767px){
        font-size: 15px;
      }
      line-height: 180%;
      color: #4C504D;
  }
}

.partnership-middle-content{
  background: #E8F6FB;
  padding-top: 80px;
  margin-top: 140px;
  padding-bottom: 120px;
}

.partnership-network{
  & hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  &__heading{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    // text-align: center;
    color: #007299;
    margin-bottom: 40px;
  }
  &__left-content{
    & p{
      font-family: Overpass;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 180%;
      color: #C5EBF9;
    }
    @media only screen and(max-width:767px){
      margin-bottom: 30px;
    }
  }

  &__right-content{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    & * > li{
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 180%;
    color: #4C504D;
    margin-left: 1.5rem;
    }

    & > h3{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 150%;
    color: #1F2421;
    }
  }
}

.conference-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  & h3{
    font-family: Overpass;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
  }
  & span{
    font-family: Overpass;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    color: #C5EBF9;
  }
}

.btn4{
  background:  #007299;
  border-color: white;
  color: white !important;
}

.hr-white{
  background-color: rgba(255, 255, 255, 0.5);
}

.member-figures{
  display: flex;
  flex-wrap: wrap;
  margin-top: 8rem;
  justify-content: space-between;
  & * > p{
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    color: #C5EBF9;
    }

    & * > h3{
    font-style: normal;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 150%;
    color: #ffffff;
    }
}

.tt-container{
  margin:12rem 0px
}

.partner-with-us{
  background-color: #007299;
}

.partner-with-us-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 0px;

  & h1{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: #ffffff;
  }
  
}

.parner-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 90px;

  & img{
    object-fit: cover;
    object-position: top;
  }
 
}

.current-partners{
  margin-top: 120px;
  margin-bottom: 140px;

  & h1, h3{
    text-align: center;
  }
  & h1{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: #1F2421;
  }
  & h3{
    font-family: Overpass;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    text-align: center;
    color: #4C504D;
  }
}