.banner-info-container{
  background: #007299;
  // padding: 110px;
   @media only screen and (max-width:1200px){
      padding: 110px calc((100vw/2) -  100%);
    }
    padding: 110px 320px;


  color: white;
  & h1{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    @media only screen and(max-width:600px){
      font-size: 25px;
    }
  }
  &__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    @media only screen and(max-width:700px){
      flex-direction: column-reverse;
      // flex-wrap: wrap-reverse;
    }

    &--left{
      display: flex;
      flex-direction: column;
      flex:3;
      margin-left: 20px;
      & p{
        font-family: Overpass;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 180%;
        color: #C5EBF9;
      }
    }
    &--right{
      flex:1;
      // margin-left: 20px;
      align-self: center;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      & h3{
        font-family: Overpass;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        margin-top: 20px;
      }
      & span{
        font-family: Overpass;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: #C5EBF9;
      }
      @media only screen and(max-width:700px){
        margin-bottom: 30px;
      }
    }
  }
}

.user-image{
  height: 152px !important;
  width: 152px;
  border-radius: 100%;
  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
  }
}

.border-color1{
  border:2px solid #70ceee
}

.border-color-white{
  border:2px solid white
}