.program-list-item{
  display: flex;
  flex-direction: column;
  max-width: 360px;
  & h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 150%;
    color: #1F2421;
    margin: 20px 0px;
  }
  & p{
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    color: #4C504D;
  }
  @media only screen and (max-width:768px){
    margin: 0 auto;
  }
}