.banner-intro-container{
  display: flex;
  padding: 140px;
  background-color: white;
  justify-content: space-between;

  &__intro{
    display: flex;
    flex-direction: column;
    flex:1;
    & h2{
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 120%;
      color: #1F2421;
      @media only screen and(max-width:600px){
        font-size: 30px;
      }
    }
    & p{
      font-family: Overpass;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 180%;
      color: #666666;
    }
    &--btn-contaier{
      display: flex;
      // justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__images{
    position: relative;
    flex:1;
    // flex-direction: column;
    width: 100%;

    &--photo{
      position: absolute;
      // width: 55%;
      // box-shadow: 0 1px 4px rgba(0,0,0,.5);
      border-radius: 2px;
      transition: all .2s;
      &.p2{
        // top:calc(100% - (100px/2) -10px );
        top:40%;
        width:35%;
        left: 18%;
        @media only screen and(max-width:1275px){
          top:20%
        }

        @media only screen and(max-width:1120px){
          top:15%
        }

        @media only screen and(max-width:992px){
          top:10%
        }
      }
      &.p1{
        width: 67%;
        right: 0;
      }
      &:hover{
        transform: scale(1.05) translateY(-5px);
        box-shadow: 0 10px 40px rgba(0,0,0,.5);
        z-index: 999;
      }
    }
    &:hover &--photo:not(:hover){
      transform: scale(.95)
  }
    @media only screen and(max-width:809px){
    display: none;
    // align-self: center;
    }
  }

  @media only screen and(max-width:809px){
    flex-direction: column;
    // align-self: center;
    padding: 50px 20px;

    }
}

.intro-btn{
  padding: 10px 24px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  font-family: Overpass;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: white;
  box-shadow: none;
  &:focus{
    outline: none;

  }
  &:active{
    outline: none;
  }
  &:hover{
    filter: brightness(120%);
  }
  @media only screen and(max-width:1111px){
    margin-top: 5px;
  }
}

.btn1{
  background:  #007299;
  border-color: #007299;
  margin-right: 20px;
}
.btn2{
  background:  #1F2421;
  border-color: #1F2421;
}

.btn3{
  background: #F18F01;
  border-color: #F18F01;
}